

.seibetu {
background-color: rgb(167, 135, 230);
}



.ookisa{
font-size:200px;
}

.onamae{
font-size:40px;
}

li{
color: rgb(209, 29, 29);
}

dt{
color: rgb(218, 20, 20);

}
